name: Build Rust Project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        
    - name: Install MSVC Build Tools (Windows)
      if: matrix.os == 'windows-latest'
      uses: ilammy/msvc-dev-cmd@v1.13.0
      
    - name: Build
      run: cargo build --release
      
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: tpa-bot-${{ matrix.os }}
        path: |
          target/release/tpa_bot*
          config.toml
          !target/release/tpa_bot.d
